/** Font **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");

/** Global **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    font-family: serif;
    color: orange;
}

section{
    margin-bottom: 50px;
}


/** Navbar **/
.nabigation-bar{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

/** Smartphone **/
.smartphone{
    margin-bottom: 45px;
}

.pricing{
    text-align: center;
}


/** Laptop Section **/
.laptop{
    margin-top: 20px;
}