/** Font **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");

/** Global **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:palegreen;
}

a{
    text-decoration: none;
    font-family: serif;
    color: rgb(255, 51, 0);
    font-weight: 700;
}

section{
    margin-bottom: 50px;
}

h1,h2,h3,h4,h5,h6{
    font-family: serif;
}



/** Navbar **/
.nabigation-bar{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

/** Smartphone **/
.smartphone{
    margin-bottom: 45px;
}

.pricing{
    text-align: center;
}


/** Laptop Section **/
.laptop{
    margin-top: 20px;
}

/** Categories **/
.categories{
    text-align: center;
}
.rectangle{
    height: 5px;
    width: 140px;
    background-color: #FF9C35;
    margin: 0 auto;
}
